@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: black;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  max-width: 800px;
  min-width: 320px;
  padding: 2rem 1rem;
  position: relative;
  margin: 0.5rem;
  background-color: black;
  border: 5px solid white;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

button {
  font-family: inherit;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: inherit;
  padding: 0.5em 2em;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  border: 2px solid white;
  font-weight: bold;
  transition: all 250ms;
  color: white;
  display: inline-flex;
  justify-content: center;
}

button:hover {
  color: blue;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#alphabet {
  grid-area: C;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

#alphabet button {
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

#revealed-word {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  letter-spacing: 0.4ch;
  max-width: 100%;
  hyphens: auto;
  overflow-wrap: break-word;
}

#hangman {
  min-width: 5rem;
  min-height: 5rem;
  margin: 0 auto;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  background-color: black;
  border: 5px solid white;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  z-index: 20;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

button:active {
  transform: scale(0.95);
}

.disabled {
  opacity: 0.5;
}
